import { ApiClientBase } from "@/api/apiClientBase";
import { ApiResponse } from "@/api/apiResponse";
import {
    CategoryRef,
    ConsumptionLogRef,
    ProductRef,
    StorageLocationRef,
    TrackedProductRef
} from "@/models/types";
