import { ApiClientBase } from "@hwndmaster/atom-api-core";
import { ApiResponse } from "@hwndmaster/atom-api-core";
import {
    CategoryRef,
    ConsumptionLogRef,
    ProductRef,
    ProductFamilyRef,
    StorageLocationRef,
    TrackedProductRef
} from "@/models/types";
