@use "../../styles/datatable.scss";

.iconColumn {
    width: 4rem;
    text-align: center;
}

.actionsCell {
    display: flex;
    gap: 0.25rem;
}

.expanderColumn {
    width: 3rem;
}

.familiesContainer {
    padding: 0.5rem 1rem 1rem 3rem;
}

.familiesHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
