.withdrawDialog {
    width: 20rem;
}

.withdrawContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.withdrawActions {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}
