.withdrawDialog {
    width: 20rem;
}

.withdrawContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.quantityInput {
    width: 100%;

    :global(.p-inputnumber-input) {
        width: 100%;
    }
}

.withdrawActions {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}
